:root {
  --blue: #0a0c19;
  --dark-violet: #1b1938;
  --violet: #aa5cdb;
  --white: #fff;
  --off-white: #dcdcdc;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0a0c19;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #0a0c19;
  height: 80vh;
  width: 70%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;

}

.card-container {
  width: 50%;
  background: #1b1938;
  color: #fff;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.customer-detiles {
  display: flex;
  gap: 32px;
}

.card-title {
  font-size: 32px;
  font-weight: 700;

}

span {
  color:
    #AA5CDB;
}

.card-description {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.coustomer-title {
  font-weight: 700;
  font-size: 24px;
}

.coustomer-description {
  font-size: 16px;
  font-weight: 400;
}

.img-container {
  width: 50%;
  position: relative;
}

.img-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  filter: grayscale(1);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  opacity: 0.1;
  position: absolute;
  z-index: 50;
}

@media screen and (max-width:1200px) {
  .card-container{
    width: 70%;
  }
  .img-container{
    width: 30%;
  }
}
@media screen and (max-width:800px) {
  .container{
    flex-direction: column-reverse;
    height: 70vh;
   
  }
  .card-container{
    width: 100%;
    padding: 25px;
    height: 60%;
  }
  .img-container{
    width: 100%;
    height: 40%;
  }
}
@media screen and (max-width:500px) {
  .container{
    flex-direction: column-reverse;
    height: 80vh;
    width: 80%;
  }
  .card-container{
    width: 100%;
    padding: 25px;
    height: 70%;
  }
  .img-container{
    width: 100%;
    height: 30%;
  }
  .customer-detiles{
    flex-direction: column-reverse;
    text-align: center;
  }
  .card-title{
    text-align: center;
  }
  .card-description{
    margin-bottom: 20px;
    text-align: center;
  }
  .card-container{
    height: 100%;
  }
}